<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ZPD</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="main.css">
  </head>

  <body class="home" style="overflow: hidden;">
    <%- include('./partials/nav.ejs') %>
    <h1>Sveiki,  Skolniek!</h1>
    <p>Šī ir vietne, kurā varat atstāt atsauksmes par saviem iecienītākajiem skolotājiem, lai motivētu viņus, tāpat kā viņi motivē jūs! </p>
    <p>Esiet godīgi un neļaujiet, lai personīgie aizspriedumi jūs iespaido.  </p>
  </body>
</html>
