<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ZPDEVAL</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body class="home" style="overflow: hidden;">
    <nav>
      <ul>
        <form action="/login" method="POST">
        <li>
          <a href="/login">Ieiet profilā</a>
        </li>
    </nav>
    <h1>Skolotāju novērtēšanas programma.</h1>
    <p>Ieiet sava profilā lai vertētu skolotājus!</p>
  </body>
</html>
